/* variables */
$primary-color: #dae2f3;
$primary-color-dark: #557596;
$secondary-color: #cdcdcd;
$success-color: #e3efdb;
$danger-color: #bf753a;
$bgColor: #9dc3e7;
$border-color: rgba($primary-color, 10%);
$grid-size: 300px;
